In [27]:
import numpy as np
import pandas as pd

**list | ndarray -> DataFrame (1D)**

In [28]:
col_names = ["Score"]

list = [57, 92, 83]
array = np.array(list)

*1) list -> DataFrame*

In [29]:
df_from_list = pd.DataFrame(list, columns=col_names)

display(df_from_list)

   Score
0     57
1     92
2     83

*2) ndarray -> DataFrame*

In [30]:
df_from_array = pd.DataFrame(array, columns=col_names)

display(df_from_array)

   Score
0     57
1     92
2     83

**list | ndarray -> DataFrame (2D)**

In [31]:
col_names = ["Score", "Passed"]

list = [[57, False],
        [92, True],
        [83, True]]
array = np.array(list)

*1) list -> DataFrame*

In [32]:
df_from_list = pd.DataFrame(list, columns=col_names)

display(df_from_list)

   Score  Passed
0     57   False
1     92    True
2     83    True

*2) ndarray -> DataFrame*

In [33]:
df_from_array = pd.DataFrame(array, columns=col_names)

display(df_from_array)

   Score  Passed
0     57       0
1     92       1
2     83       1

**dict -> DataFrame**

In [34]:
dict = {"Score": [57, 92, 83], "Passed": [False, True, True]}
df_from_dict = pd.DataFrame(dict)

display(df_from_dict)

   Score  Passed
0     57   False
1     92    True
2     83    True

**DataFrame -> list | ndarray**

In [35]:
df = df_from_dict

*1) DataFrame -> ndarray*

In [36]:
array = df.values

print(type(array), array.shape)
print(array)

<class 'numpy.ndarray'> (3, 2)
[[57 False]
 [92 True]
 [83 True]]

*2) DataFrame -> list*

In [37]:
list = df.values.tolist()

print(type(list))
print(list)

<class 'list'>
[[57, False], [92, True], [83, True]]

**DataFrame -> dict**

In [38]:
# contents in dict (default)
dict = df.to_dict()

print(type(dict))
print(dict)

# contents in list
dict = df.to_dict("list")

print(type(dict))
print(dict)

<class 'dict'>
{'Score': {0: 57, 1: 92, 2: 83}, 'Passed': {0: False, 1: True, 2: True}}
<class 'dict'>
{'Score': [57, 92, 83], 'Passed': [False, True, True]}